<div
  class="modal-overlay-bg"
  (click)="closeModal()">

  <div
    class="container"
    [class.right-panel-active]="mode() === 'register'"
    (click)="$event.stopPropagation()">

    <div class="form-container sign-up-container">
      <form #registerForm="ngForm" (ngSubmit)="handleAuth()">
        <button type="button" (click)="closeModal()" class="close-button-top-right">
          &times;
        </button>
        <h1>Créer un compte</h1>

        <div class="social-container">
          <a href="javascript:void(0)" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="javascript:void(0)" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="javascript:void(0)" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div *ngIf="error()" class="error-message">{{ error() }}</div>

        <div class="input-group">
          <i class="fas fa-user icon"></i>
          <input type="text" placeholder="Nom" name="name" [(ngModel)]="name" required />
        </div>

        <div class="input-group">
          <i class="fas fa-envelope icon"></i>
          <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required />
        </div>

        <div class="input-group">
          <i class="fas fa-lock icon"></i>
          <input
            [type]="isPasswordVisible() ? 'text' : 'password'"
            placeholder="Mot de passe"
            name="password"
            [(ngModel)]="password"
            required
          />
          <i
            class="eye-icon fas"
            [class.fa-eye]="isPasswordVisible()"
            [class.fa-eye-slash]="!isPasswordVisible()"
            (click)="togglePasswordVisibility()">
          </i>
        </div>

        <div class="input-group">
          <i class="fas fa-lock icon"></i>
          <input
            [type]="isPasswordVisible() ? 'text' : 'password'"
            placeholder="Confirmer mot de passe"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
          />
          <i
            class="eye-icon fas"
            [class.fa-eye]="isPasswordVisible()"
            [class.fa-eye-slash]="!isPasswordVisible()"
            (click)="togglePasswordVisibility()">
          </i>
        </div>

        <button type="submit" [disabled]="isLoading() || registerForm.invalid">
          <span *ngIf="!isLoading()">Inscription</span>
          <span *ngIf="isLoading()">Chargement...</span>
        </button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form #loginForm="ngForm" (ngSubmit)="handleAuth()">
        <button type="button" (click)="closeModal()" class="close-button-top-right">
          &times;
        </button>
        <h1>Se Connecter</h1>

        <div class="social-container">
          <a href="javascript:void(0)" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="javascript:void(0)" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="javascript:void(0)" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div *ngIf="error()" class="error-message">{{ error() }}</div>

        <div class="input-group">
          <i class="fas fa-envelope icon"></i>
          <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required />
        </div>

        <div class="input-group">
          <i class="fas fa-lock icon"></i>
          <input
            [type]="isPasswordVisible() ? 'text' : 'password'"
            placeholder="Mot de passe"
            name="password"
            [(ngModel)]="password"
            required
          />
          <i
            class="eye-icon fas"
            [class.fa-eye]="isPasswordVisible()"
            [class.fa-eye-slash]="!isPasswordVisible()"
            (click)="togglePasswordVisibility()">
          </i>
        </div>

        <a href="javascript:void(0)">Mot de passe oublié?</a>

        <button type="submit" [disabled]="isLoading() || loginForm.invalid">
          <span *ngIf="!isLoading()">Connexion</span>
          <span *ngIf="isLoading()">Chargement...</span>
        </button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">

        <div class="overlay-panel overlay-left">
          <div class="logo-container">
              <img src="../../../../assets/Logo/logo.png" alt="Logo EMES" class="overlay-logo">
          </div>
          <h1>Se connecter</h1>
          <p>Vous avez déjà un compte ? Connectez-vous !</p>
          <button class="ghost" (click)="toggleMode()">Connexion</button>
        </div>

        <div class="overlay-panel overlay-right">
          <div class="logo-container">
              <img src="../../../../assets/Logo/logo.png" alt="Logo EMES" class="overlay-logo">
          </div>
          <h1>Créer un compte</h1>
          <p>Êtes-vous nouveau ? Créez votre compte et commencez votre aventure.</p>
          <button class="ghost" (click)="toggleMode()">Créer un compte</button>
        </div>
      </div>
    </div>
  </div>
</div>