<div class="inventory-list-container">
    <h2>Inventaire - Consultation</h2>
    <p>Vue des stocks pour le suivi de la production.</p>

    <div *ngIf="isLoading">Chargement de l'inventaire...</div>
    <div *ngIf="error" class="alert-error">{{ error }}</div>

    <table *ngIf="!isLoading && inventoryItems.length > 0">
        <thead>
            <tr>
                <th>ID Produit</th>
                <th>Nom/Référence</th>
                <th>Quantité en Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of inventoryItems">
                <td>{{ item.id }}</td>
                <td>{{ item.material_id }} </td>
                <td>{{ item.quantity | number }}</td>
                <td>
                    <button (click)="goToDetail(item.id)" class="btn-view">
                        Détails
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!isLoading && inventoryItems.length === 0 && !error">
        Aucun article en inventaire trouvé.
    </div>
</div>