<div class="client-sidebar-content" [class.sidebar-mini-active]="isMini">
    
    <div class="sidebar-toggle-button-wrapper" [class.mini]="isMini">
        <button 
            (click)="toggleSidebar.emit()" 
            class="sidebar-toggle-btn"
            aria-label="Toggle sidebar"
        >
            <i class="fa-solid" [class.fa-chevron-left]="!isMini" [class.fa-chevron-right]="isMini"></i>
        </button>
    </div>
    
    <header class="account-header">
        <div class="account-icon-wrapper">
            <i class="fa-solid fa-circle-user"></i> 
        </div>
        <div class="account-details" *ngIf="!isMini">
            <p class="account-name">Client A (Principal)</p>
            <p class="account-welcome">Bienvenue chez Client A</p>
        </div>
    </header>

    <nav class="sidebar-nav">
        <ul>
            <li 
                *ngFor="let item of navItems" 
                [routerLink]="item.route" 
                routerLinkActive="active" 
                class="nav-item"
            >
                <i class="fa-solid fa-fw" [class]="item.icon"></i>
                <span class="nav-label" *ngIf="!isMini">{{ item.label }}</span>
                <span *ngIf="isMini" [attr.title]="item.label" class="mini-tooltip">{{ item.label }}</span>
            </li>
        </ul>
    </nav>

</div>