.product-preview-box {
    background-color: #F8F9FA;
    border-radius: var(--radius-xl);
    padding: var(--space-lg);
    margin-bottom: var(--space-lg);
    border: 1px solid var(--color-border);
}

.preview-visual {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-md);
}

.preview-visual svg {
    max-height: 100%;
    max-width: 100%;
    fill: var(--color-secondary-accent);
    stroke: var(--color-primary-dark);
    stroke-width: 2px;
}

.placeholder-text {
    color: var(--color-text-dim);
    font-style: italic;
}

.preview-details p {
    font-size: .875rem;
    color: var(--color-text-soft);
}

.preview-details strong {
    color: var(--color-primary-dark);
}