.app-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f1f5f9; /* Ou var(--color-background) si défini globalement */
}

.app-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* Permet au contenu de défiler */
    min-width: 0; 
}

/* Wrapper qui contiendra le Dashboard, pour appliquer le padding général */
.page-content-wrapper {
    flex-grow: 1;
    /* Padding du contenu principal, simulant le wrapper de votre dashboard */
    padding: 2.5rem 1rem 4rem; 
}

/* Ajustement pour le dashboard.component.css */
/* Dans dashboard.component.css, retirez le padding du .dashboard-content-wrapper 
   ou ajustez-le, car il est désormais géré par .page-content-wrapper */