.admin-layout-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7f6; /* Arrière-plan général */
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-content {
    padding: 20px;
    flex-grow: 1;
}