<div class="client-app-shell">
    
    <aside class="sidebar-container" 
           [class.mini]="isSidebarMini()" 
           [class.mobile-show]="isMobileOpen()">
        
        <app-client-sidebar 
            [isMini]="isSidebarMini()" 
            (toggleSidebar)="toggleSidebar()">
        </app-client-sidebar>
    </aside>

    @if (isMobileOpen()) {
        <div class="mobile-overlay" (click)="toggleSidebar()"></div>
    }

    <div class="main-wrapper" [class.mini-margin]="isSidebarMini()">
        
        <app-client-navbar 
            [isSidebarMini]="isSidebarMini()"
            (toggleSidebar)="toggleSidebar()"
            (openCartModal)="onOpenCartModal()"> </app-client-navbar>
        
        <main class="content-view">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>