.dimension-input-group {
    margin-bottom: var(--space-md);
}

.dimension-input-group label {
    display: block;
    font-size: .875rem;
    font-weight: 600;
    color: var(--color-primary-dark);
    margin-bottom: .25rem;
}

.dimension-input-group input {
    width: 100%;
    padding: .75rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    font-size: 1rem;
    color: var(--color-primary-dark);
    /* Assure que le style est hérité si vous utilisez ngModel */
    box-sizing: border-box; 
}

.note-info {
    font-size: .75rem;
    color: var(--color-secondary-accent);
    background-color: rgba(240, 78, 127, 0.05);
    padding: var(--space-md);
    border-radius: var(--radius-md);
    margin-top: var(--space-lg);
}

/* Bouton dans ce composant */
.action-button {
    width: 100%;
    margin-top: var(--space-lg);
    justify-content: center;
}